/frontend/*.iml
/frontend/.gradle
/frontend/local.properties
/frontend/.idea/caches
/frontend/.idea/libraries
/frontend/.idea/modules.xml
/frontend/.idea/workspace.xml
/frontend/.idea/navEditor.xml
/frontend/.idea/assetWizardSettings.xml
/frontend/.DS_Store
/frontend/build
/frontend/captures
/frontend/.externalNativeBuild
/frontend/.cxx
/frontend/local.properties

/backend/.idea/
/backend/db.sqlite3
.DS_Store
backend/category/__pycache__/__init__.cpython-311.pyc
backend/category/__pycache__/admin.cpython-311.pyc
backend/category/__pycache__/apps.cpython-311.pyc
backend/category/__pycache__/models.cpython-311.pyc
backend/category/__pycache__/urls.cpython-311.pyc
backend/category/__pycache__/views.cpython-311.pyc
backend/category/migrations/__pycache__/0001_initial.cpython-311.pyc
backend/category/migrations/__pycache__/__init__.cpython-311.pyc
backend/MaN/__pycache__/settings.cpython-311.pyc
backend/MaN/__pycache__/urls.cpython-311.pyc
backend/note/__pycache__/__init__.cpython-311.pyc
backend/note/__pycache__/admin.cpython-311.pyc
backend/note/__pycache__/apps.cpython-311.pyc
backend/note/__pycache__/models.cpython-311.pyc
backend/note/__pycache__/urls.cpython-311.pyc
backend/note/migrations/__pycache__/0001_initial.cpython-311.pyc
backend/note/migrations/__pycache__/0002_alter_note_category.cpython-311.pyc
backend/note/migrations/__pycache__/__init__.cpython-311.pyc
backend/user/migrations/__pycache__/0003_alter_noteuser_avatar_alter_noteuser_email_and_more.cpython-311.pyc
backend/user/__pycache__/views.cpython-311.pyc
backend/category/__pycache__/__init__.cpython-311.pyc
